{% extends 'base.twig' %}

{% block information %}
    <h2>Správa uživatelů</h2>
    <p class="info_up">Nachazíte se ve správě uživatelů.</p>
{% endblock %}


{% block content %}
    <div class="container">
        <div class = "table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-1 text-center">Jméno</th>
                        <th class="col-md-1 text-center">Příjmeni</th>
                        <th class="col-md-1 text-center">Hodnost</th>
                        <th class="col-md-1 text-center">Upravit hodnost</th>
                        <th class="col-md-1 text-center">Vymazat uživatele</th>
                    </tr>
                </thead>
                <tbody>
                    {% for value in array %}
                    <tr>
                        <td class ="text-center">{{ value.jmeno }}</td>
                        <td class ="text-center">{{ value.prijmeni }}</td>
                        {% if value.hodnost == 2 %}
                            <td class ="text-center">Recenzent</td>
                            {% set arr = ['Zablokovaný','Autor'] %}
                        {% elseif value.hodnost == 3 %}
                            <td class ="text-center">Autor</td>
                            {% set arr = ['Zablokovaný','Recenzent'] %}
                        {% else %}
                            <td class ="text-center">Zablokovaný</td>
                            {% set arr = ['Autor','Recenzent'] %}
                        {% endif %}
                        <td class ="text-center">
                            <form class="form-inline" action="{{ makeURL("user","editUser",value.id_uzivatel) }}" method="POST">
                                {% for value in arr %}
                                    <div class="form_inline_up">
                                        <input type="radio" name="radio"  value="{{ value }}">{{ value }}
                                    </div>

                                {% endfor %}
                                <input type="submit" class="btn btn-success" value="Upravit hodnost" id="login-btn">
                            </form>
                        <td class ="text-center"><a href="{{ makeURL("user","deleteUser",value.id_uzivatel) }}">Smazat uživatele</a></td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
{% endblock %}