{% extends 'base.twig' %}

{% block information %}
    <h2>Služby</h2>
    <p class="info_up">Nacházíte se v dostupných službách.</p>
{% endblock %}

{% block content %}
    {% if session.user.hodnost == 3 %}
        <div class="container">
            <p><a href=" {{ makeURL("user","create") }}">Vytvořit nový článek</a></p>
            <h2>Seznam článků</h2>
        <div class = "table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Název článku</th>
                    <th>Příloha</th>
                    <th>Posouzení admina</th>
                    <th>Upravit článek</th>
                    <th>Vymazat článek</th>

                </tr>
                </thead>
                <tbody>
                {% for value in pole %}
                <tr>
                    <td>{{ value.nazev }}</td>

                        <td>{{ value.soubor_short }}</td>

                    {% if value.posouzeno is empty %}
                        <td>Čeká se na potvrzení</td>
                    {% elseif  value.posouzeno  < 1 %}
                        <td>Nepřijatý</td>
                    {% else %}
                        <td>Přijatý</td>
                    {% endif %}
                    <td><a href="{{ makeURL("user","edit", value.id_prispevky )}}">Upravit</a></td>
                    <td><a href="{{ makeURL("user","delete",value.id_prispevky )}}">Vymazat</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <p><a href=" {{ makeURL("user","create") }}">Vytvořit nový článek</a></p>
        </div>
    {% else %}
        <div class="container">
            <h2>Seznam článků k ohodnocení</h2>
        <div class = "table-responsive col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-4">Název článku</th>
                        <th class="col-md-2">Ohodnotit článek</th>
                    </tr>
                </thead>
                <tbody>
                {% for value in before_arr %}
                    <tr>
                        <td>{{ value.nazev }}</td>
                        <td><a href="{{ makeURL("user","evaluate",value.id_hodnoceni )}}">Ohodnotit</a></td>
                    </tr>
                {% endfor %}
                 </tbody>
            </table>
        </div>
        </div>
        <div class="container">
            <h2>Seznam ohodnocených článků čekajících na potvrzení</h2>
            <div class = "table-responsive col-md-6">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="col-md-4">Název článku</th>
                        <th class="col-md-2">Změnit hodnocení</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for value in after_arr %}
                        <tr>
                            <td>{{ value.nazev }}</td>
                            <td><a href="{{ makeURL("user","evaluate",value.id_hodnoceni )}}">Změnit</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}